.header{
    display: flex;
    margin: 10px;
}
.header>div:first-child{
    background-color: brown;
    width: 610px;
    height: 300px;
    float: left;
}
.header>div:last-child{
    height: 250px;
    width: 300px;
    margin-top: 50px;
    margin-left: 10px;
}
.banner{
    display: flex;
}
.banner>div:nth-child(1){
    background-color: violet;
    height: 150px;
    width: 300px;
    margin-left: 10px;
}
.banner>div:nth-child(2){
    background-color: tomato;
    height: 150px;
    width: 300px;
    margin-left: 10px;
}
.banner>div:nth-child(3){
    background-color:cornflowerblue;
    height: 150px;
    width: 300px;
    margin-left: 10px;
}
.footer{
    display: flex;
}
.footer>div:nth-child(1){
    height: 150px;
    width: 300px;
    margin-left: 10px;
}
.footer>div:nth-child(2){
    height: 150px;
    width: 300px;
    margin-left: 10px;
}
.footer>div:nth-child(3){
    height: 150px;
    width: 300px;
    margin-left: 10px;
}
