* {
    margin: 0;
    padding: 0;
}
.container {
    width: 900px;
    margin: 0 auto;
    background: black;
}
.row {
    margin-top: 20px;
}
[class^="col-"] {
    height: 50px;
    background: red;
    float: left;
    border: 1px solid #000;
    box-sizing: border-box;
}
.col-1 {
    width: calc((1/12) * 100%);
}
.col-2 {
    width: calc((2/12) * 100%);
}
.col-3 {
    width: calc((3/12) * 100%);
}
.clear {
    clear: both;
}