
.tit{
    text-align: center;
    margin: 10px;
}
.header{
    height: 50px;
    width: auto;
    display: flex;
    background-color: darksalmon;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
.header>div:first-child{
    flex-grow: 1;
    background-color: gray;
    padding: 16px;
    border-radius: 5px;
}
.header>div:nth-child(2){
    flex-grow: 1;
}
.header>div:nth-child(3){
    flex-grow: 1;
}
.header>div:nth-child(4){
    flex-grow: 1;
}
.header>div:nth-child(5){
    flex-grow: 1;
}
.header>div:nth-child(6){
    flex-grow: 1;
}
.header>div:nth-child(7){
    flex-grow: 1;
}
.header>div:nth-child(8){
    flex-grow: 8;
    text-align: right;
    margin-right: 10px;
}